<DOCTYPE html>
  <html>
    <head>
      <title>
        {{job.title}} - Wipro Careers
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <style>
        #banner{
          width:100%;
          height:360px;
          object-fit: cover;
          margin-bottom: 16px;
        }
      </style>
    </head>
    <body>
      {% include 'nav.html' %}
      <img class="img fluid" id="banner" src ="https://3dce0f53-d44b-4a00-9e9f-1bf445d50f11-00-qs9f2kiivs06.sisko.replit.dev/static/wipro.jpeg" height="320">
      <div class="container">
        <h1 class='text-center mt-2 mb-4'>{{company_name}} Careers</h1>
        <h3 class="mb-2">Title</h3>
        <p>{{job.title}}</p>
        <h3>Location</h3>
        <p class="lead mt-0">{{job.location}}</p>
        <h3>Responsibilites</h3>
        <ul>
          <li>
            {{job.responsibilites.strip()}}
          </li>
        </ul>
        <h3>Requirements</h3>
        <ol>
          {% for line in job.requirements.split("\n") %}
            <li>{{line}}</li>
          {% endfor %}
        </ol>
        <h3>Salary</h3>
        <p>{{job.currency}}{{job.salary}}</p>
        {% include 'application_form.html' %}
      </div>
    </body>
  </html>
</DOCTYPE>